.home {
    width: 100%;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

.filter-button{
    
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.filter-category {
    font-size: 0.7em; /* Scales relative to the header-text size */
}

.header-text{
    font: bold 28px/1.5 Georgia, "Comic Sans MS", serif;
    text-align: center;
    border-bottom: 5px solid rgb(192, 192, 192);
}

.content-columns-header{
    width: 100%;
}

.content-columns{
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border: 5px solid rgb(37, 131, 255);
    top: -50px;
}

td{
    border-right: 5px solid rgb(194, 194, 194);
    vertical-align: top;
    height: 100%;
    padding: 0;
}

.tdlast{
    border-right: none;
}

.scroll-content {
    height: 78vh;
    overflow-y: auto;
    padding: 0.5rem 1rem;
}

li{
    list-style: none;
}