.navbar {
    background-color: #000000;
    padding: 1rem 2rem;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    flex: 0 0 auto;
    z-index: 2;
    font-size: 1.5vw;
    float: right;
}

.navbar-right {
    margin-left: auto;
    flex: 0 0 auto;
    z-index: 2;
}

.search-form {
    position: relative;
    left: 50%;
    transform: translateX(-57%);
    width: min(140vw, 700px);
    display: flex;
    /* z-index: 1; */
}

.search-input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-links {
        gap: 1rem;
    }

    .nav-link {
        padding: 0.5rem;
    }
}