.navbar {
  background-color: #000;
  padding: 1rem 2rem;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-brand {
  flex: 0 0 auto;
  z-index: 2;
}

.navbar-right {
  margin-left: auto;
  flex: 0 0 auto;
  z-index: 2;
}


.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: min(70vw, 1100px); 
  display: flex;
  /* z-index: 1; */
}

.search-input {
  width: 100%;
   /* height: 34px */
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  outline: none;
  /*line-height: 34px;*/
}


.navbar a {
  color: #4a78ff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .search-form {
    width: 90vw;
  }
}